body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.indexheader {
    background-color: #333; 
    color: white;
    height: 7vh; 
    display: flex;
    align-items: center; 
    justify-content: right;
    margin-right: 50px; 
}

.staticnav {
    background-color: #666; 
    color: white; 
    height: 4vh;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}

.maincontainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.mainstuff {
    background-color: #ccc;
    flex: 1; 
    display: flex;
    width:75vw;
    align-items: center; 
    justify-content: center;
    background-image: url(assets/pexels-pixabay-207049.jpg);
    background-size: cover;
    
}

.sidestuff {
    background-color: #999;
    width: 25vw; 
    display: grid;
    align-items: center; 
    justify-content: center; 
    
}
#onethird{
    background-color: red;
}
#twothirds{
    background-color: purple;
}
#threethirds{
    background-color: green;
}

.foot {
    background-color: black;     
    color: white; 
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerlogotitle{

}
