
@media only screen and (max-width: 600px) {
    
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}


@media only screen and (min-width: 1025px) {
   
}



body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.indexheader {
    background-color: #333; 
    color: white;
    height: 7vh; 
    display: flex;
    align-items: center; 
    justify-content: right;
    margin-right: 50px; 
}

.staticnav {
    background-color: #666; 
    color: white; 
    height: 4vh;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}

.maincontainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.mainstuff {
    background-color: #ccc;
    flex: 1; 
    display: flex;
    width:75vw;
    align-items: center; 
    justify-content: center;
    background-image: url(assets/pexels-pixabay-207049.jpg);
    background-size: cover;
    
}

.sidestuff {
    background-color: #999;
    width: 25vw; 
    display: grid;
    align-items: center; 
    justify-content: center; 
    
}
#onethird{
    background-color: rgb(81, 121, 121);
    height: 100%;

}
#twothirds{
    background-color: rgb(127, 127, 209);
    height: 100%;
    width: 100;
}
#threethirds{
    background-color: rgb(86, 219, 175);
    height: 100%;
    width: 100%;
}

.foot {
    background-color: black;     
    color: white; 
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#subhead{
    margin: auto;
    padding: auto;
    text-align: center;
}
p{
    margin-top: 25px;
    font-size: 1.25em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
button{
    background-color: black;
    border: greenyellow,1px;
    color:greenyellow;
    font-family: monospace;
}